<!DOCTYPE html>
<html>
<head>
    <title>Réponses récentes</title>
</head>
<body>
    <h1>Réponses récentes</h1>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Age</th>
            <th>Sexe</th>
            <th>Date</th>
            <th>PDF</th> <!-- Nouvelle colonne -->
        </tr>
        {% for r in reponses %}
        <tr>
            <td>{{ r.nom }}</td>
            <td>{{ r.ville }}</td>
            <td>{{ r.age }}</td>
            <td>{{ r.sexe }}</td>
            <td>{{ r.created_at }}</td>
            <td>
                <a href="{% url 'generate_pdf_from_response' r.id %}" target="_blank">
                    Télécharger PDF
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
