<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Merci !</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 80px;
        }
        a {
            text-decoration: none;
            background: #4CAF50;
            color: white;
            padding: 10px 20px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <h1>Merci d’avoir rempli le questionnaire ! 🌿</h1>
    <p>Vos réponses ont bien été enregistrées.</p>
    <a href="/">Retour à l’accueil</a>
    <a href="{% url 'export_reponses_csv' %}">Télécharger les réponses CSV</a>

</body>
</html>
